<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mja.intercontenentalhotel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Cuisine" />
        <activity android:name=".CustomerDetail" />
        <activity android:name=".Checkout" />
        <activity android:name=".resAmerican" />
        <activity android:name=".resItalian" />
        <activity android:name=".resChinese" />
    </application>

</manifest>